// id for background color of the hero section
#sunny {
    background-image: linear-gradient(to right, rgba(208, 126, 25, 0.807), rgba(128, 45, 0, 0.527));
}

#cloudy {
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.821), rgba(128, 128, 128, 0.519));
}

#rain {
    background-image: linear-gradient(to right, rgba(0, 0, 128, 0.807), rgba(0, 0, 128, 0.527));
}

#mist {
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.821), rgba(128, 128, 128, 0.519));
}
#defaultBg{
    background-image: linear-gradient(to right, rgba(7, 142, 57, 0.821), rgba(7, 154, 12, 0.519));
}


.hero-section-container {
    margin-bottom: 2.5rem;
    color: white;

    .hsc-header-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        .hsc-place-name-container {
            h1 {
                color: rgba(0, 0, 0, 0.7);

                span {
                    color: rgba(0, 0, 0, 0.244);
                    font-size: 1rem;
                }
            }
        }

        .hsc-units-container {
            .active {
                background-color: skyblue;
            }

            button {
                padding: .15rem .3rem;
                border: 1px solid gray;
                border-radius: .2rem;
                padding: .3rem .5rem;
            }

            button:hover {
                cursor: pointer;
            }
        }
    }

    .hsc-data-container {
        padding: 2rem 5rem;
        // background-image: linear-gradient(to right, rgba(0, 0, 128, 0.807), rgba(0, 0, 128, 0.527));
        border-radius: 1rem;

        .hscdc-top-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

            .hscdctc-left-container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;

                .hscdctclc-img-container {
                    margin-right: 0.8rem;
                }

                .hscdctclc-info-container {
                    h1 {
                        font-size: 3.5em;
                        margin-bottom: .3rem;
                        margin-right: 1rem;
                    }

                    p {
                        font-size: 1rem;
                    }
                }
            }

            .hscdctc-right-container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;

                .hscdctcrc-item-container {
                    margin-left: 5.2em;
                    margin-bottom: 2rem;

                    p {
                        font-size: 1rem;
                    }

                    :first-child {
                        margin-bottom: .4rem;
                    }
                }
            }
        }

        .hscdc-bottom-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .hscdcbc-day-data-container {
                margin-bottom: 4rem;
                margin-right: 2rem;

                .hscdcbcddc-img-cotainer {
                    margin-bottom: 2rem;
                    display: flex;
                    justify-content: center;
                }

                .hscdcbcddciic-item-container {
                    p {
                        font-size: 1rem;
                        margin-bottom: .5rem;
                        font-weight: lighter;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 650px) {
    body {
        .hero-section-container .hsc-data-container .hscdc-bottom-container {
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 390px) {
    body .hero-section-container .hsc-data-container .hscdc-top-container {
        border: none !important;
    }

    .hero-section-container .hsc-data-container .hscdc-bottom-container {
        border: none !important;
    }

    .hero-section-container .hsc-data-container .hscdc-bottom-container {
        padding-left: 20% !important;
    }

    .hero-section-container .hsc-data-container .hscdc-top-container .hscdctc-left-container {
        margin-left: 2rem;
    }

    .hero-section-container .hsc-data-container .hscdc-top-container .hscdctc-left-container .hscdctclc-img-container {
        margin-right: 2.8rem !important;
    }

}

@media only screen and (max-width: 280px) {
    hero-section-container .hsc-data-container .hscdc-bottom-container {
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 415px) {
    .hero-section-container .hsc-data-container .hscdc-bottom-container {
        padding-left: 25% !important;
    }
}

@media only screen and (max-width: 508px) {
    body {
        .hero-section-container .hsc-header-container .hsc-units-container button {
            margin-bottom: 0.2rem;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 807px) {
    body {
        .hero-section-container .hsc-data-container .hscdc-top-container {
            flex-direction: column;
        }

        .hero-section-container .hsc-data-container .hscdc-top-container .hscdctc-left-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
        }

        .hero-section-container .hsc-data-container .hscdc-bottom-container {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 398px) {
    body {
        .hero-section-container .hsc-data-container .hscdc-bottom-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1154px) {
    body {
        .hero-section-container .hsc-data-container .hscdc-top-container {
            flex-direction: column;
        }
    }
}